@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&family=Cormorant+Upright:wght@300;400;500;600;700&family=Aboreto&display=swap");
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


[x-cloak] {
    display: none !important;
}

@theme {
    --font-sans: "Plus Jakarta Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    --font-display: "Cormorant Upright", serif;
    --font-aboreto: "Aboreto", cursive;
    --color-light-yellow: #F8F5EA;
    --color-dark-yellow: #B08949;
    --color-dark-yellow-100: #B59548;
    --color-dark-green: #0A3F24;
    --color-davy-grey: #595959;
    --color-dark: #1C1C1C;
}

@layer base {
    body {
        font-size: 16px;
        line-height: 1.3;
    }
}

h1, h2, h3 {
    letter-spacing: -0.64px;
    line-height: 100%;
}

.subtitle {
    @apply font-bold text-dark-yellow uppercase tracking-[3.36px] text-sm mb-3;
}
