@import 'tailwindcss';

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&family=Cormorant+Upright:wght@300;400;500;600;700&family=Aboreto&display=swap");

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


@theme {
    --font-sans: "Plus Jakarta Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    --font-display: "Cormorant Upright", serif;
    --font-aboreto: "Aboreto", cursive;
    --color-light-yellow: #F8F5EA;
    --color-dark-yellow: #B08949;
    --color-dark-green: #0A3F24;
    --color-davy-grey: #595959;
    --color-dark: #1C1C1C;
}

h1, h2, h3 {
    letter-spacing: -0.64px;
}

.subtitle {
    @apply font-bold text-dark-yellow uppercase tracking-[3.36px] text-sm mb-3;
}
